{{define "content"}}
    <form class="form-signin" method="post" action="/register">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <label for="inputFirstname" class="sr-only">Firstname</label>
        <input type="text" id="inputFirstname" name="firstname" class="form-control" placeholder="Firstname" required>

        <label for="inputLastname" class="sr-only">Lastname</label>
        <input type="text" id="inputLastname" name="lastname" class="form-control" placeholder="Lastname" required>

        <label for="inputBirthday" class="sr-only">Birthday</label>
        <input type="date" id="inputBirthday" name="birthday" class="form-control" placeholder="Birthday" required>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="InputSexMale" value="male" checked>
            <label class="form-check-label" for="InputSexMale">male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="InputSexFemale" value="female">
            <label class="form-check-label" for="InputSexFemale">female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="InputSexOther" value="other">
            <label class="form-check-label" for="InputSexOther">other</label>
        </div>


        <label for="inputInterests" class="sr-only">Interests</label>
        <textarea id="inputInterests" rows="3" name="interests" class="form-control" placeholder="Interests"></textarea>

        <label for="inputCity" class="sr-only">City</label>
        <input type="text" id="inputCity" name="city" class="form-control" placeholder="City" required>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
{{end}}