{{define "nav"}}

    <div class="list-group">
        <a href="/users/{{$.AuthUserID}}"
           class="list-group-item list-group-item-action d-flex justify-content-between">
            <div>Profile</div>
            <i class="icon-user"></i></a>
        <a href="/users"
           class="list-group-item list-group-item-action d-flex justify-content-between">
            <div>Users</div>
            <i class="icon-users"></i></a>
        <a href="/logout"
           class="list-group-item list-group-item-action d-flex justify-content-between">
            <div>Logout</div>
            <i class="icon-line2-logout"></i></a>
    </div>

{{end}}